<!DOCTYPE html>
<html lang="en">
<body class="wow fadeIn">
	<!-- header start -->	
	<header class="navbar dash-header" id="navbar">
		<div class="navbar-btn">
			<a class="nav-open-nav" id="open-nav" onclick="openSideBar()" title="Click to open"> 
				<i class="fa fa-bars"></i>
			</a>
			<a class="nav-cls-btn" id="close-nav" onclick="closeSideBar()" title="click to close"> 
				 <i class="fa fa-bars"></i>
			</a>
		</div>
		<div class="brand">	
			<a  href="javascript:void(0)" class="dash-logo" id="logo" title="Quiztech">QuizTech</a>
		</div>
	</header>
	<!-- header end -->
	
	<!-- sidebar start -->
	<aside class="side-nav wow slideInLeft" id="sidenav">
		<ul class="categories">
			<li>
				<a href="javascript:void(0)" title="Dashboard">
					<i class="fa fa-dashboard"></i><span>Dashboard</span></a>
			</li>
			<li class="drop">
				<a href="javascript:void(0)" title="Question Bank">
					<i class="fa  fa-pencil-square"></i><span>Question Bank</span></a>
				<ul class="side-nav-dropdown">
					<li><a href="javascript:void(0)" title="Subjects">
						<i class="fa fa-book sub-icon"></i>Subjects</a></li>
					<li><a href="javascript:void(0)" title="Topics">
						<i class="fa fa-file sub-icon"></i>Topics</a></li>
					<li><a href="javascript:void(0)" title="Question Type">
						<i class="fa fa-briefcase sub-icon"></i>Question Type</a></li>
					<li><a href="javascript:void(0)" title="Objective Question">
						<i class="fa fa-file-text sub-icon"></i>Objective Question</a></li>
			   </ul>
			</li>
			<li>
				<a href="javascript:void(0)" title="Exam Creation" class="active-dashlink">
					<i class="fa fa-pencil-square-o"></i><span>Exam Creation</span></a>
		   </li>
		   <li>
			   <a href="javascript:void(0)" title="Exam Scheduler">
				   <i class="fa fa-calendar"></i><span>Exam Scheduler</span></a>
		   </li>
		   <li>
			   <a href="javascript:void(0)" title="Candidate Data">
				   	<i class="fa fa-users"></i><span>Candidate Data</span></a>
		   </li>
		   <li>
			   <a href="javascript:void(0)" title="Candidate Result">
				    <i class="fa fa-check-square"></i><span>Candidate Result</span></a>
		   </li>
		   <li>
			   <a href="javascript:void(0)" class="side-link" title="Logout">
				   <i class="fa fa-sign-out side-icon"></i><span>Logout</span></a>
		   </li>
		</ul>
		<div class="nav-btn">
			<a class="open-nav" id="open" onclick="openSideBar()" title="Click to open"> 
				<i class="fa fa-angle-double-right open-icon"></i>
			</a>
			<a class="cls-btn" id="close" onclick="closeSideBar()" title="click to close"> 
				 <i class="fa fa-angle-double-left cls-icon"></i>
			</a>
		</div>	
	</aside>
	<!-- sidebar end -->
	
	<!--main content start-->
	<main id="main">
		<div class="dash-content">
			<div class="page-indicator">
				<a class="indicate-arrow" href="javascript:void(0)" title="Dashboard"><i class="fa fa-home"></i></a>
				<span>Exam Creation</span>
			</div>
			<div class="subject-container">
				<div class="button-input-container">

						<%= link_to "new", examcreations_newexam_path, class: 'btn add-new' %>
					<div class="search">
						<div>
							<input type="text" placeholder="   Search " required>
						 </div>
					</div>
				</div>
				<div class="total-section">
					<div class="total-img">
						<%= image_tag('total.png', :alt => "login", :class => 'img-responsive') %>	
					</div>
					<div class="total-content">
						<p>Total Exam count :</p>
						<span>1</span>
					</div>
				</div>
				<div class="subject-table">
					<table class="table table-responsive">
						<thead class="t-head">
							<tr>
								<th>Exam Name</th>
								<th>Exam type</th>
								<th>exam duration</th>
							</tr>
						</thead>
						<tbody class="t-body">
							<tr class="t-row">
								<% @exam.each do |examcreation| %>
							
							<tr><td><%= examcreation.exam_name %></td>
							<td><%= examcreation.exam_type %></td>
							<td><%= examcreation.exam_duration%></td></tr>
								<%end%>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</main>
	<!--main content end-->
<script src="js/index.js"></script>	
<script src="js/wow.js"></script>
<script>
   new WOW().init();
</script>	
</body>
</html>


