<!DOCTYPE html>
<html>
  <head>
    <title>Qtech</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% unless controller_name=="questions"%>
      <% unless controller_name=="homes" && action_name=="dashboard" %>
      <%= render partial:  'layouts/header'%>
      <%end%>
      <%end%>
    <%= yield %>
      <% unless controller_name=="questions"%>
      <% unless controller_name=="homes" && action_name=="dashboard" %>
      <% unless controller_name=="candidates" && action_name=="candidatedata" %>
      <% unless controller_name=="schedules" && action_name=="schedule" %>
      <% unless controller_name=="topics" && action_name=="topic" %>
      <% unless controller_name=="objectives" && action_name=="objective" %>
      <% unless controller_name=="examcreations" && action_name=="examcreation" %>
      <% unless controller_name=="examcreations" && action_name=="newexam" %>
      <% unless controller_name=="candidates" && action_name=="newcandidate" %>
      <%= render  partial: 'layouts/footer'%>
      <%end%>
      <%end%>
      <%end%>
      <%end%>
      <%end%>
      <%end%>
      <%end%>
      <%end%>
      <%end%>
  </body>
</html>
